@use '@/shared/ui/styles/variables.scss' as v;

.root {
  padding-top: 4.5rem;
  padding-bottom: 8.25rem;

  h2 {
    margin: 0;
    font-size: 3rem;
    line-height: 3.375rem;
    color: #141416;
    margin-bottom: 1rem;
    letter-spacing: -2px;
  }

  h3 {
    margin: 0;
    font-size: 0.6875rem;
    line-height: 1.15rem;
    max-width: 512px;
    margin-bottom: 2.5rem;

    b {
      color: #141416;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 105px;
    text-align: center;

    .infoSection {
      .mainCaption {
        font-size: 0.625rem;
        line-height: 1;
        color: #8d8c8c;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;

        * {
          line-height: 1
        }

        &::before {
          content: '';
          display: inline-block;
          height: 1px;
          background: #8d8c8c;
          margin-right: 8px;
          vertical-align: middle;
          width: 2.1rem;
          position: relative;
          top: -  1px;
        }
      }
    }

    .grapchicSection {
      height: 76vw;
      position: relative;

      .grapchicSectionImage1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 210px;
        height: 210px;
        border-radius: 14px;
        z-index: 3;

        > img {
          width: 100%;
          height: 100%;
          border-radius: 14px;
          object-fit: cover;
        }

        .grapchicSectionImage1Shadow {
          position: absolute;
          left: -10px;
          top: 30px;
          bottom: -20px;
          right: -10px;
          filter: blur(20px);
          z-index: -1;
          opacity: 0.7;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 18px;
            object-fit: cover;
          }
        }
      }

      .grapchicSectionImage2 {
        position: absolute;
        left: 230px;
        top: 107px;
        width: 170px;
        height: 170px;
        border-radius: 12px;
        z-index: 2;

        > img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
          object-fit: cover;
        }

        .grapchicSectionImage2Shadow {
          position: absolute;
          left: -10px;
          top: 30px;
          bottom: -20px;
          right: -10px;
          filter: blur(20px);
          opacity: 0.7;
          z-index: -1;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 22px;
            object-fit: cover;
          }
        }
      }

      .grapchicSectionSpiral {
        position: absolute;
        left: 195px;
        top: 32px;
        transform: scale(0.5);
        z-index: -1;
      }
    }

    .buttons {
      display: flex;
      gap: 1.0625rem;
      justify-content: center;
    }

    .stats {
      display: none;
    }
  }

  @media (width >= v.$breakpoint-tablet) {
    padding-top: 3.9375rem;
    padding-bottom: 7.125rem;

    h2 {
      font-size: 3.375rem;
      line-height: 3.875rem;
      margin-bottom: 0.9375rem;
      letter-spacing: -2px;
    }

    h3 {
      font-size: 0.8125rem;
      line-height: 1.125rem;
      margin-bottom: 2.25rem;
    }

    .container {
      flex-direction: row;
      gap: 0;
      text-align: left;

      .infoSection {
        width: 50%;
        min-width: 375px;
        box-sizing: border-box;
        padding-right: 3rem;

        .mainCaption {
          margin-bottom: 0.5rem;
          * {
            display: none;
          }
          &::before {
            content: '';
            height: 1px;
            background: #201F1F;
            opacity: 0.2;
            margin-right: 8px;
            vertical-align: middle;
            width: 8.625rem;
          }
        }

        .buttons {
          gap: 1rem;
          justify-content: start;
        }

        .stats {
          margin-top: 3.625rem;
          display: flex;
          gap: 2.5rem;
          line-height: 1;

          > div {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }

          .value {
            font-size: 1.625rem;
            line-height: 1.875rem;
            color: #141416;
          }

          .caption {
            font-size: 0.5625rem;
            line-height: 0.81rem;
            color: #848586;
          }
        }
      }

      .grapchicSection {
        position: relative;
        height: auto;
        .grapchicSectionImage1 {
          position: absolute;
          left: 0;
          top: 15px;
          width: 280px;
          height: 280px;
          border-radius: 18px;
          z-index: 3;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 18px;
            object-fit: cover;
          }

          .grapchicSectionImage1Shadow {
            position: absolute;
            left: -10px;
            top: 30px;
            bottom: -20px;
            right: -10px;
            filter: blur(20px);
				    z-index: -1;
            opacity: 0.7;

            > img {
              width: 100%;
              height: 100%;
              border-radius: 28px;
              object-fit: cover;
            }
          }
        }

        .grapchicSectionImage2 {
          position: absolute;
          left: 305px;
          top: 145px;
          width: 230px;
          height: 230px;
          border-radius: 16px;
          z-index: 2;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
          }

          .grapchicSectionImage2Shadow {
            position: absolute;
            left: -10px;
            top: 30px;
            bottom: -20px;
            right: -10px;
            filter: blur(20px);
            opacity: 0.7;
				    z-index: -1;

            > img {
              width: 100%;
              height: 100%;
              border-radius: 22px;
              object-fit: cover;
            }
          }
        }

        .grapchicSectionSpiral {
          position: absolute;
          left: 285px;
          top: 50px;
          transform: scale(0.75);
          z-index: -1;
        }
      }
    }
  }

  @media (width >= v.$breakpoint-desktop) {
    flex-direction: row;
    padding-top: 6.125rem;
    padding-bottom: 10.625rem;

    h2 {
      font-size: 4.75rem;
      line-height: 5.25rem;
      margin-bottom: 1.75rem;
      letter-spacing: -3px;
    }

    h3 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 2.75rem;
    }

    .container {
      flex-direction: row;
      text-align: left;

      .infoSection {
        .mainCaption {
          margin-bottom: 0.625rem;
          * {
            display: none;
          }
          &::before {
            content: '';
            height: 1px;
            background: #201F1F;
            opacity: 0.2;
            margin-right: 8px;
            vertical-align: middle;
            width: 12.1875rem;
          }
        }

        .buttons {
          gap: 1.375rem;
          justify-content: start;
        }

        .stats {
          margin-top: 5rem;
          display: flex;
          gap: 3.75rem;
          line-height: 1;

          > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .value {
            font-size: 2.25rem;
            line-height: 2.625rem;
            color: #141416;
          }

          .caption {
            font-size: 0.75rem;
            line-height: 1rem;
            color: #848586;
          }
        }
      }

      .grapchicSection {
        position: relative;
        height: auto;
        .grapchicSectionImage1 {
          position: absolute;
          left: 0;
          top: 20px;
          width: 391px;
          height: 395px;
          border-radius: 25px;
          z-index: 3;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            object-fit: cover;
          }

          .grapchicSectionImage1Shadow {
            position: absolute;
            left: -10px;
            top: 30px;
            bottom: -20px;
            right: -10px;
            filter: blur(20px);
				    z-index: -1;
            opacity: 0.7;

            > img {
              width: 100%;
              height: 100%;
              border-radius: 35px;
              object-fit: cover;
            }
          }
        }

        .grapchicSectionImage2 {
          position: absolute;
          left: 435px;
          top: 200px;
          width: 320px;
          height: 322px;
          border-radius: 22px;
          z-index: 2;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 22px;
            object-fit: cover;
          }

          .grapchicSectionImage2Shadow {
            position: absolute;
            left: -10px;
            top: 30px;
            bottom: -20px;
            right: -10px;
            filter: blur(20px);
            opacity: 0.7;
				    z-index: -1;

            > img {
              width: 100%;
              height: 100%;
              border-radius: 32px;
              object-fit: cover;
            }
          }
        }

        .grapchicSectionSpiral {
          position: absolute;
          left: 425px;
          top: 90px;
          transform: scale(1);
          z-index: -1;
        }
      }
    }
  }

  .grapchicSectionDots {
    position: absolute;
    z-index: -1;
    left: 298px;
    width: 93px;
    height: 213px;
    --dot-bg: #f9f9f9;
    --dot-color: #7d7d7d;
    --dot-size: 2px;
    --dot-space: 10px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
    background-position: var(--dot-size) var(--dot-size);

    @media (width >= v.$breakpoint-tablet) {
      width: 123px;
      height: 284px;
      left: 430px;
      --dot-space: 13px;
      background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
      background-position: var(--dot-size) var(--dot-size);
    }

    @media (width >= v.$breakpoint-desktop) {
      width: 173px;
      height: 400px;
      left: 607px;
      --dot-size: 3px;
      --dot-space: 19px;
      background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
      background-position: var(--dot-size) var(--dot-size);
    }
  }
}