@use '@/shared/ui/styles/variables.scss' as v;

.button {
  display: inline-block;
  white-space: nowrap;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 1%;
  border-radius: 0.75rem;
  box-sizing: border-box;
  border: 2px solid #000;
  padding: 0.9375rem 1.31rem;
  cursor: pointer;

  &.lowercase {
    text-transform: capitalize;
  }

  &:hover {
    background: #222;
    border-color: #222;
  }

  * {
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 1%;
  }

  &.outlined {
    background: none;
    color: #000;
    padding: 0.9375rem;

    &:hover {
      background: #d7d7d7;
      border-color: #000;
    }
  }

  &.invert {
    background: #fff;
    border-color: #fff;
    color: #141416;

    &:hover {
      background: #f2f2f2;
      border-color: #f2f2f2;
    }
  }

  &.invert.outlined {
    background: none;
    color: #fff;
    border-color: #fff;

    &:hover {
      color: #1A1A1A;
      background: #d7d7d7;
      border-color: #fff;
    }
  }


  @media (width >= v.$breakpoint-tablet) {
    padding: 0.81rem 1.375rem;

    &.outlined {
      padding: 0.81rem 1rem;
    }
  }

  @media (width >= v.$breakpoint-desktop) {
    padding: 1.125rem 1.875rem;

    &.outlined {
      padding: 1.125rem 1.4375rem;
    }
  }
}