.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.publicSans {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.thin {
  font-weight: 100;
}

.extraLight {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.normal, .regular {
  font-weight: 400;
}

.medium {
  font-weight: 500
}

.semiBold {
  font-weight: 600
}

.bold {
  font-weight: 700
}

.extraBold {
  font-weight: 800
}

.black {
  font-weight: 900
}
