@use '../styles/variables' as v;

.logo {
  display: flex;
  gap: 0.438rem;
  align-items: center;
  font-size: 1.375rem;
  color: #000;

  svg {
    width: 2.875rem;
    height: 2.875rem;
  }

  path {
    fill: #000
  }

  &.invert {
    color: #fff;
    path {
      fill: #fff
    }
  }
}

@media (width >= v.$breakpoint-tablet) {
  .logo {
    font-size: 1.333rem;
    gap: 0.625rem;

    svg {
      width: 2.375rem;
      height: 2.375rem;
    }

    &.adaptive .logoText {
      display: none;
    }

    &.invert svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

@media (width >= v.$breakpoint-desktop) {
  .logo {
    font-size: 1.875rem;

    svg {
      width: 3.12rem;
      height: 3.12rem;
    }

    &.invert svg {
      width: 4.06rem;
      height: 4.06rem;
    }
  }
}

