@use '../styles/variables' as v;

.logo {
  display: flex;
  gap: 0.438rem;
  align-items: center;
  font-size: 1.375rem;
  color: #000;

  svg {
    width: 2.875rem;
    height: 2.875rem;
  }

  path {
    fill: #000
  }

  &.invert {
    color: #fff;
    path {
      fill: #fff
    }
  }
}

@media (width >= v.$breakpoint-tablet) {
  .logo {
    gap: 0.625rem;

    svg {
      width: 2.375rem;
      height: 2.375rem;
    }
  }

  .logo.adaptive {
    .logoText {
      display: none;
    }
  }
}

@media (width >= v.$breakpoint-desktop) {
  .logo {
    svg {
      width: 3.3rem;
      height: 3.3rem;
    }
  }
}

