@use '@/shared/ui/styles/variables.scss' as v;

.root {
  --breakpoint: 670px;

  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  @media (width >= v.$breakpoint-tablet) {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }
  @media (width >= v.$breakpoint-desktop) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background: #141416;
    border-radius: 15px;
    padding: 22px;
    height: 13.1875rem;
    margin-bottom: calc(100vw - 300px);

    @media (width >= 670px) {
      display: block;
      border-radius: 22px;
      padding: 22px;
      height: auto;
      margin-bottom: auto;
    }

    h2 {
      margin: 0;
      line-height: 1;
      font-size: 1.5rem;
      color: #fff;
      @media (width >= v.$breakpoint-tablet) {
        font-size: 2.11rem;
      }
      @media (width >= v.$breakpoint-desktop) {
        font-size: 2.81rem;
      }
    }

    h3 {
      color: #888;
      font-size: 0.625rem;
      margin-top: 0.5625rem;
      margin-bottom: 1.375rem;

      @media (width >= v.$breakpoint-tablet) {
        font-size: 0.9375rem;
      }
      @media (width >= v.$breakpoint-desktop) {
        font-size: 1.25rem;
      }
    }
  }

  .infoSection {
    text-align: center;

    .buttons {
      display: flex;
      justify-content: center;
      gap: 0.875rem;

      font-size: 0.65625rem;

      @media (width < v.$breakpoint-tablet) {
        > div {
          padding-top: 0.625rem;
          padding-bottom: 0.625rem;
          padding-left: 0.65625rem;
          padding-right: 0.65625rem;
          border-radius: 0.375rem;
        }
      }

      @media (width >= 670px) {
        gap: 1.5rem;
        justify-content: left;
      }
    }

    @media (width >= 670px) {
      text-align: left;
    }

    @media (width > 670px) and (width < 745px) {
      margin-right: 53%;
    }
  }

  .imageBox {
    text-align: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 9px;
    }

    @media (width >= 670px) {
      position: absolute;
      top: 22px;
      right: 22px;
      bottom: 22px;
      max-width: none;
      img {
        height: 100%;
        width: auto;
        border-radius: 11px;
      }
    }
  }
}

