@use '../styles/variables' as v;

.root {
  background: #f9f9f9;
  position: relative;
  z-index: 100;
  height: 6.625rem; /* 106px Mobile */

  .containerWrapper {
    padding-top: 30px;
    transition: all 0.2s linear;
  }

  &:before {
    content: '';
    z-index: 100;
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    height: 1px;
    bottom: 0;
    background: #CBCBCB;
  }

  &.navOpen {
    .nav {
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 1.875rem;
      top: 150px;
      font-size: 2.5rem;
      gap: 1.25rem;
    }

    .connectWallet {
      display: block;
      position: absolute;
      bottom: 40px;
      left: 1.875rem;
      right: 1.875rem;
      text-align: center;
      > div {
        display: block;
      }
    }

    .socials {
      display: block;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
      > * {
        gap: 2.5rem;
      }
    }
  }

  &.navOpen .dropDown {
    position: relative;
    background: #f9f9f9;
    height: 100vh;
  }
}

.connectWallet {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  margin-right: auto;
  display: none;
  text-transform: uppercase;
  gap: 50px;

  a {
    color: #606060
  }
}

@media (width >= v.$breakpoint-tablet) {
  .root {
    height: 4.5rem; /* 72px Tablet = Offset top + Height  */

    .containerWrapper {
      top: 0.9375rem;
      padding-top: 1.0625rem;
      padding-bottom: 1.0625rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &:before {
      display: none;
    }

    &.sticky {
      .containerWrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        bottom: auto;
        box-shadow: 0 0 30px rgba(120,120,120,0.2);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }
    }
  }

  .nav {
    opacity: 1 !important;
    > * { opacity: 1 !important; position: static !important; }
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
    margin-left: 2.5rem;
    gap: 2rem;
  }

  .burger {
    display: none;
  }

  .connectWallet {
    opacity: 1 !important;
    display: block;
    position: static;
    font-size: 0.71875rem;
    > div {
      padding: 0.6875rem 1rem;
    }
  }
}

@media (width >= v.$breakpoint-desktop) {
  .root {
    height: 6.25rem;

    .containerWrapper {
      top: 1.8125rem;
      padding-top: 1.0625rem;
      padding-bottom: 1.0625rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &:before {
      display: none;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    margin-left: 4.125rem;
    gap: 3.125rem;
  }

  .connectWallet {
     display: block;
     position: static;
     font-size: 1rem;
     > div {
      padding: 1rem 1.5625rem;
    }
  }
}

.socials {
  display: none;
}